@model App.Models.TagEditForm

<form class="form" method="post" action="/admin/@Model.TagId"
      hx-patch="/admin/@Model.TagId"
      hx-target="this"
      hx-swap="outerHTML">
    <div class="form-field" style="display:flex; gap:10px; align-items:center;">
        <input class="form-like" name="name" type="text" required
               value="@Model.Name" />
        <button class="form-submit" type="submit">Сохранить</button>
        <button class="form-reset" type="button"
                hx-get="/admin?search=@(ViewBag.Search ?? "")"
                hx-target="#tag-row-@Model.TagId"
                hx-swap="outerHTML">
            Отмена
        </button>
    </div>
    <div id="edit-errors">
        @await Html.PartialAsync("errors")
    </div>
</form>
