<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["title"] ?? "No name")</title>
    <link href="/css/style.css" rel="stylesheet">
    <link id="theme-css" href="/css/theme_dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="/js/ultra.js"></script>
</head>
<body>
    <header>
        @await Html.PartialAsync((string?)ViewData["header_nav"] ?? "/Views/Navigations/main.cshtml")
    </header>
    <main id="main-content">
        @RenderBody()
    </main>
    <footer>
    </footer>
</body>
</html>
