@model App.Models.ChangePasswordData?
@using App.Extentions
@{
    var user = ViewData.GetUser()!;
}
<form class="form form-narrow" id="change-password-form"
    hx-patch="/user/@user.login/password_change"
    hx-target="this"
    hx-swap="outerHTML">

    <label for="old_password">Старый пароль</label>
    <div class="form-field">
        <input id="old_password" name="old_password" type="password" required value="@Model?.old_password" />
    </div>

    <label for="new_password">Повторите старый пароль</label>
    <div class="form-field">
        <input id="new_password" name="new_password" type="password" required value="@Model?.new_password" />
    </div>

    <div id="errors">
        @await Html.PartialAsync("results")
    </div>

    <button class="form-submit" type="submit">Подтвердить</button>
    <button class="form-reset" onclick="clear_form(this)">Очистить</button>
</form>
