<div class="screen-message-box">
    <div class="screen-message shadow">
        <p class="screen-message-text">Пароль успешно изменен!</p>
        <a href="/user" class="button">Назад</a>
    </div>
</div>
