@model App.Models.HomePageModel
@using App.Models;
@{
    var user = ViewData["user"] as User;
}

<aside class="lot-filters">
    <p>Категории</p>
    <div class="lot-tags">
        @foreach (var (i, tag) in @Model.tags.Index()) {
            <a href="/?tag_id=@(tag.id)"
                hx-get="/?tag_id=@(tag.id)"
                hx-target="main"
                hx-push-url="true"
            >@tag.name</a>
            @if (i < @Model.tags.Count-1) {
                <span>|</span>
            }
        }
    </div>
</aside>

<div class="lot-cards-grid">
    @foreach (var card in @Model.cards) {
        @await Html.PartialAsync("lot_card", card);
    }
</div>
