@model App.Models.HomePageModel.LotCard;

<div class="lot-card hover-shadow"
    hx-get="/lots/@Model.id"
    hx-target="main"
    hx-push-url="true"
>
    <img src="@Model.image_path" alt="" />
    <p>@Model.title</p>
    <span class="lot-price">@Model.price</span>
</div>
