:root {
    --color-black: #0E0E0E;
    --color-white: #F8F5F0;

    --color-primary: #181818;
    --color-secondary: #383838;
    --color-text: var(--color-white);
    --color-text2: color-mix(in srgb, var(--color-text), rgba(0, 0, 0, 0.5));
    --color-accent: #DD700B;
    --color-accent2: #DD200B;

    --color-bg: var(--color-primary);
    --color-shadow: var(--color-black);
    --color-error: #b00020;
}

