@model App.Models.Lot
@{
    var saved_page = (string?)ViewData["page"] ?? "0";
}

<a href="/?page=@saved_page">Вернуться</a>

<h1>@Model.title</h1>

<p>
    Текущая цена: <span class="lot-price">@Model.current_price</span>
</p>
<p>
    Начальная цена: <span class="lot-price">@Model.initial_price</span>
</p>

<p>
    Закрытие лота в: <span>@Model.end_time</span>
</p>
